@import "./fonts.css";

$main-background-color: #fff;
$main-font-color: #100e0e;
$link-font-color: #0071e4;

body {
    background: $main-background-color;
    color: $main-font-color;
    font-family: "SF Pro Display inherit", sans-serif;
    // font-family: "SF Pro Display Regular", sans-serif;
    // font-family: 'SF Pro Display Medium', sans-serif;
    // font-family: 'SF Pro Display Bold', sans-serif;
    // font-family: 'SF Pro Display Black', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 120px;
        padding-right: 120px;

        @media screen and (max-width: 768px) {
            max-width: 768px;
            padding: 5px 20px;
        }

        @media screen and (max-width: 1440px) {
            max-width: 1440px;
            padding: 5px 25px;
        }
    }

    p,
    span,
    a,
    h4,
    h5,
    input {
        // font-family: "SF Pro Display Regular", sans-serif;
        font-weight: 400;
    }

    h3 {
        // font-family: "SF Pro Display Medium", sans-serif;
        font-weight: 500;
    }

    h1,
    h2 {
        // font-family: "SF Pro Display Bold", sans-serif;
        font-weight: 600;
        margin-left: 0;
    }

    a {
        text-decoration: none;
        color: $link-font-color;
    }

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }

    .buttonElem {
        border-radius: 16px;
        padding: 13px 16px;
        font-size: 20px;
        border: none;
        background-color: #0071e4;
        color: #fff;

        display: flex;
        align-items: center;
        gap: 5px;

        cursor: pointer;

        width: inherit;
        justify-content: center;
    }

    // убирает стрелочки для input типа number
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
